<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>

  <packageSourceMapping>
    <clear />
    <packageSource key="nuget.org">
	     <package pattern="Microsoft.VisualStudio.Azure.Containers.Tools.Targets" />
      <package pattern="Microsoft.AspNetCore.OpenApi" />
      <package pattern="Roslynator.Analyzers" />
      <package pattern="Roslynator.Formatting.Analyzers" />
      <package pattern="Roslynator.CodeAnalysis.Analyzers" />
      <package pattern="Microsoft.EntityFrameworkCore" />
      <package pattern="Microsoft.EntityFrameworkCore.Abstractions" />
      <package pattern="Microsoft.EntityFrameworkCore.Analyzers" />
      <package pattern="Microsoft.EntityFrameworkCore.Relational" />
      <package pattern="Microsoft.Extensions.Caching.Abstractions" />
      <package pattern="Microsoft.Extensions.Caching.Memory" />
      <package pattern="Microsoft.Extensions.Configuration.Abstractions" />
      <package pattern="Microsoft.Extensions.DependencyInjection" />
      <package pattern="Microsoft.Extensions.DependencyInjection.Abstractions" />
      <package pattern="Microsoft.Extensions.Logging" />
      <package pattern="Microsoft.Extensions.Logging.Abstractions" />
      <package pattern="Microsoft.Extensions.Options" />
      <package pattern="Microsoft.Extensions.Primitives" />
      <package pattern="Npgsql" />
      <package pattern="Npgsql.EntityFrameworkCore.PostgreSQL" />
      <package pattern="EFCore.NamingConventions" />
    </packageSource>
  </packageSourceMapping>
	
  <disabledPackageSources>
   <clear />
  </disabledPackageSources>
</configuration>
